* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

nav {
    background-color: #333;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

.logp a {
    font-size: 1.5rem;
}